# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# Haskell stuff
server/dist
server/cabal.sandbox.config
server/.cabal-sandbox
server/.cabal-sandbox/bin/
server/.cabal-sandbox/share/
server/.cabal-sandbox/lib/
server/.cabal-sandbox/logs/
server/.cabal-sandbox/x86_64-linux-ghc-7.10.3-packages.conf.d/
stardata/dist
stardata/cabal.sandbox.config
stardata/.cabal-sandbox
stardata/.cabal-sandbox/bin/
stardata/.cabal-sandbox/share/
stardata/.cabal-sandbox/lib/
stardata/.cabal-sandbox/logs/
stardata/.cabal-sandbox/x86_64-linux-ghc-7.10.3-packages.conf.d/
abbreviator/dist
abbreviator/cabal.sandbox.config
abbreviator/.cabal-sandbox
abbreviator/.cabal-sandbox/bin/
abbreviator/.cabal-sandbox/share/
abbreviator/.cabal-sandbox/lib/
abbreviator/.cabal-sandbox/logs/
abbreviator/.cabal-sandbox/x86_64-linux-ghc-7.10.3-packages.conf.d/
*.cabal-sandbox/*
*cabal.sandbox.config

# Mac files
*.DS_Store

# Emacs temp files
*~
\#*\#

# Star data files.
thc/*.csv
thc/TgasSource_000-000-*.csv
